#set ( $sys = ${system} )
#set ( $dp = ${dynamicPath} )
#set ( $tpl = ${template} )
#set ( $package = ${sys.config.get("generator.package")} )
#set ( $className = ${dp.className} )
package com.routon.plcloud.device.data.entity;

import com.alibaba.fastjson.JSON;
import java.util.Date;

/**
 * @author FireWang
 * @date ${sys.utils.time("yyyy/MM/dd HH:mm:ss")}
 */
public class ${className} {
#foreach (${column} in ${table.columns})
	private ${column.attributeType} ${column.attributeName};
#end

#foreach (${column} in ${table.columns})
	public void set${column.uppercaseAttributeName}(${column.attributeType} ${column.attributeName}) {
		this.${column.attributeName} = ${column.attributeName};
	}

	public ${column.attributeType} get${column.uppercaseAttributeName}() {
		return ${column.attributeName};
	}

#end

	@Override
	public String toString() {
	    return JSON.toJSONString(this);
    }

    /**
    *	建造者(Builder)模式：构造方法 + 内部类
    */
	public ${className}(Builder builder) {
#foreach (${column} in ${table.columns})
        this.${column.attributeName} = builder.${column.attributeName};
#end
	}

	static class Builder {
#foreach (${column} in ${table.columns})
		private ${column.attributeType} ${column.attributeName};
#end

#foreach (${column} in ${table.columns})
        public Builder set${column.uppercaseAttributeName}(${column.attributeType} ${column.attributeName}) {
            this.${column.attributeName} = ${column.attributeName};
            return this;
        }
#end

        public ${className} build() {
            return new ${className}(this);
        }
    }

}
